<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css" rel="stylesheet">
    <title>Top Secret Modeling</title>
  </head>     
  <body>
    {% include 'header.html' %}

    <div id="loading-spinner" style="display: none; text-align: center; background-color: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 10px; width: 300px; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1000;">
      <div class="loader" style="margin: 0 auto 10px auto;"></div>
      <p style="color: white; font-size: 16px;">Generating analysis. This process can take some time. Please do not close or refresh the page.</p>
      <div id="countdown-timer" style="color: white; font-size: 16px; margin-top: 10px;"></div>
    </div>

    <!-- OVERVIEW FOR DUMMIES SECTION -->
    <div class="container mx-auto mt-8 bg-white p-8 rounded-lg shadow-md">
      <h3 class="text-2xl font-bold mb-4 text-gray-800">Overview for Dummies:</h3>
      <p class="text-gray-700 mb-4">Building a model is like cooking a delicious dish. Just as you'd pick the best ingredients for your recipe, in data analysis, you choose the best pieces of information (called features) to predict something. In our case, we're trying to predict the spread – that's the difference in score Vegas thinks will happen between two teams in a game.</p>
      <p class="text-gray-700 mb-4">That's where the reports, we will soon generate, come in! They help you understand which features are essential and which ones might not be. But remember, just like in cooking, understanding your ingredients (or in this case, football) is crucial. Knowing the game can help you make better decisions.</p>
      <p class="text-gray-700 mb-4">Later on, we'll use the spread and the features we select to run simulations. These simulations will help us see the value in a potential beet when comparing to the Vegas spread.</p>
      <p class="text-gray-700"><b>Here's a quick tip:</b> When selecting features, search for those that have a strong relationship, either positive or negative, with the scoring differential. However, exercise caution! If two features are closely related, like rush yards and carries, it's often better to choose just one. Alternatively, you can use a combined metric like yards per carry if it offers valuable insight. The exception is when two similar features represent data for different teams; in such cases, both can be considered.</p>
    </div>

    <div class="container mx-auto mt-5 bg-white p-8 rounded-lg shadow-md">

      <div class="bg-gray-100 p-4 rounded shadow-md mb-4">
        <h5 class="font-bold text-gray-800">Currently Selected Columns:</h5>
        <p id="selectedColumnsList" class="text-gray-700">None</p>
      </div>

      <h1 class="text-2xl font-bold text-gray-800 mb-4">Select Columns</h1>
      <div class="mb-3">
        <input type="text" class="form-control p-2 rounded border border-gray-300 w-full" id="searchInput" placeholder="Search columns...">
        <p id="noResults" style="display: none; color: red;">No results found.</p>
      </div>
      <form action="/process_columns" method="POST">
        <div class="mb-3 flex space-x-2">
          <button type="button" class="bg-gray-800 text-white py-2 px-4 rounded" id="selectAll">Select All</button>
          <button type="button" class="bg-gray-800 text-white py-2 px-4 rounded" id="selectRandom">Random Selection</button>
          <button type="button" class="bg-gray-800 text-white py-2 px-4 rounded" id="clearSelection">Clear Selection</button>
        </div>
          <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            {% for category, columns in ordered_categorized_columns.items() %}
            <div class="bg-white p-4 rounded shadow-md">
                <div class="flex justify-between items-center mb-2">
                    <div class="font-bold text-gray-800">
                        {% if category in key_categories %}
                          <span class="font-extrabold">{{ category }}</span>
                        {% else %}
                            {{ category }}
                        {% endif %}
                    </div>
                    <div>
                        <input type="checkbox" class="category-select-all" data-category="{{ category }}">
                        <label class="text-sm text-gray-600">Select All</label>
                    </div>
                </div>
                <div class="space-y-2">
                    {% for formatted_column, column in columns|sort(attribute='0') %}
                        {% set formatted_column = formatted_column.lower().replace('totals.', '').replace('.', ' ').title() %}
                        <div class="flex items-center space-x-2 column-container">
                            <input class="form-check-input column-checkbox" type="checkbox" name="columns" value="{{ column }}" id="{{ column }}" data-category="{{ category }}"
                            {% if column in active_constants %} checked {% endif %}>
                            <label class="form-check-label text-gray-700" for="{{ column }}">
                                {{ formatted_column }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>
          {% endfor %}

        </div>
      
        <button type="submit" class="bg-blue-600 text-white py-2 px-4 rounded fixed bottom-4 left-1/2 transform -translate-x-1/2 z-50" onclick="showLoadingSpinner();">Submit</button>
      </form>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="{{ url_for('static', filename='columns.js') }}"></script>
    
    {% include 'footer.html' %}

    </body>
</html>
