<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
      body {
        font-family: 'Roboto', sans-serif;
        background-color: #f8f9fa;
      }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css" rel="stylesheet">
    <title>Top Secret Modeling</title>
  </head>     
  <body>

    <nav class="bg-gray-800 p-4">
      <div class="container mx-auto flex justify-between items-center">
        <a class="text-white text-xl font-bold" href="/">Top Secret Modeling</a>
        <div class="flex space-x-4">
          <a class="text-white" href="/">Home</a>
          <!-- Additional links can be added here with the same classes as the Home link -->
        </div>
      </div>
    </nav>

    <!-- OVERVIEW FOR DUMMIES SECTION -->
    <div class="container mx-auto mt-8 bg-white p-8 rounded-lg shadow-md">
      <h3 class="text-2xl font-bold mb-4 text-gray-800">Overview for Dummies:</h3>
      <p class="text-gray-700 mb-4">Building a model is like cooking a delicious dish. Just as you'd pick the best ingredients for your recipe, in data analysis, you choose the best pieces of information (called features) to predict something. In our case, we're trying to predict the "scoring differential" – that's the difference in scores between two teams in a game.</p>
      <p class="text-gray-700 mb-4">That's where the reports, we will soon generate, come in! They help you understand which features are essential and which ones might not be. But remember, just like in cooking, understanding your ingredients (or in this case, football) is crucial. Knowing the game can help you make better decisions.</p>
      <p class="text-gray-700 mb-4">Later on, we'll use the "scoring differential" and the features we select to run simulations. These simulations will help us see how different scenarios might play out in real games.</p>
      <p class="text-gray-700"><b>Here's a quick tip:</b> When selecting features, search for those that have a strong relationship, either positive or negative, with the scoring differential. However, exercise caution! If two features are closely related, like rush yards and carries, it's often better to choose just one. Alternatively, you can use a combined metric like yards per carry if it offers valuable insight. The exception is when two similar features represent data for different teams; in such cases, both can be considered.</p>
    </div>

    <div class="container mx-auto mt-5 bg-white p-8 rounded-lg shadow-md">
      <div class="mb-8">
        <h5 class="font-bold mb-2">Active Constants:</h5>
        <div class="bg-white p-4 rounded-md shadow-md max-h-40 overflow-y-auto">
          {% if active_constants %}
            <ul>
              {% for category, constants in active_constants.items() %}
                <li class="mb-2">
                  <span class="font-bold">{{ category.replace('_', ' ').title() }}:</span>
                  <span>
                    {% for constant in constants %}
                      {{ constant.split('.')[-1].replace('_', ' ').title() }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                  </span>
                </li>
              {% endfor %}
            </ul>
          {% else %}
            <p>None</p>
          {% endif %}
        </div>
      </div>      

      <div class="bg-gray-100 p-4 rounded shadow-md mb-4">
        <h5 class="font-bold text-gray-800">Currently Selected Columns:</h5>
        <p id="selectedColumnsList" class="text-gray-700">None</p>
      </div>

      <h1 class="text-2xl font-bold text-gray-800 mb-4">Select Columns</h1>
      <div class="mb-3">
        <input type="text" class="form-control p-2 rounded border border-gray-300 w-full" id="searchInput" placeholder="Search columns...">
      </div>
      <form action="/process_columns" method="POST">
        <div class="mb-3 flex space-x-2">
          <button type="button" class="bg-gray-800 text-white py-2 px-4 rounded" id="selectAll">Select All</button>
          <button type="button" class="bg-gray-800 text-white py-2 px-4 rounded" id="selectRandom">Random Selection</button>
          <button type="button" class="bg-gray-800 text-white py-2 px-4 rounded" id="clearSelection">Clear Selection</button>
        </div>
          <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
            {% for category, columns in categorized_columns.items() %}
            <div class="bg-white p-4 rounded shadow-md">
              <div class="flex justify-between items-center mb-2">
                  <div class="font-bold text-gray-800">
                      {{ category }}
                  </div>
                  <div>
                      <input type="checkbox" class="category-select-all" data-category="{{ category }}">
                      <label class="text-sm text-gray-600">Select All</label>
                  </div>
              </div>
              <div class="space-y-2">
                  {% for formatted_column, column in columns %}
                      <div class="flex items-center space-x-2">
                          <input class="form-check-input column-checkbox" type="checkbox" name="columns" value="{{ column }}" id="{{ column }}" data-category="{{ category }}">
                          <label class="form-check-label text-gray-700" for="{{ column }}">
                              {{ formatted_column }}
                          </label>
                      </div>
                  {% endfor %}
              </div>
          </div>        
          {% endfor %}
        </div>
  
        <div id="loading-spinner" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; background-color: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 10px; width: 300px;">
          <div class="loader" style="margin: 0 auto 10px auto;"></div>
          <p style="color: white; font-size: 16px;">Generating analysis. This process can take some time. Please do not close or refresh the page.</p>
        </div>
      
        <button type="submit" class="bg-blue-600 text-white py-2 px-4 rounded fixed bottom-4 left-1/2 transform -translate-x-1/2 z-50" onclick="showLoadingSpinner();">Submit</button>
      </form>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    
    <script>
      document.addEventListener('DOMContentLoaded', (event) => {
          // Get references to DOM elements
          const selectedColumnsList = document.getElementById('selectedColumnsList');
          const checkboxes = document.querySelectorAll('.column-checkbox');
          const selectAllButton = document.getElementById('selectAll');
          const selectRandomButton = document.getElementById('selectRandom');
          const form = document.querySelector('form');
  
          // Add event listener to update the list of selected columns whenever a checkbox is changed
          checkboxes.forEach(checkbox => {
              checkbox.addEventListener('change', () => {
                  updateSelectedColumnsList();
              });
          });
  
          // Add event listener to select all checkboxes when the "Select All" button is clicked
          selectAllButton.addEventListener('click', () => {
              checkboxes.forEach(checkbox => {
                  checkbox.checked = true;
              });
              updateSelectedColumnsList();
          });
  
          // Add event listener to select a random number of checkboxes when the "Random Selection" button is clicked
          selectRandomButton.addEventListener('click', () => {
              const randomCount = Math.floor(Math.random() * checkboxes.length);
              checkboxes.forEach(checkbox => {
                  checkbox.checked = false;
              });
              for (let i = 0; i < randomCount; i++) {
                  const randomIndex = Math.floor(Math.random() * checkboxes.length);
                  checkboxes[randomIndex].checked = true;
              }
              updateSelectedColumnsList();
          });

          // Add event listeners to category "Select All" checkboxes
          const categorySelectAllCheckboxes = document.querySelectorAll('.category-select-all');
          categorySelectAllCheckboxes.forEach(checkbox => {
              checkbox.addEventListener('change', (event) => {
                  const category = event.target.getAttribute('data-category');
                  const categoryCheckboxes = document.querySelectorAll(`.column-checkbox[data-category="${category}"]`);
                  categoryCheckboxes.forEach(box => {
                      box.checked = event.target.checked;
                  });
                  updateSelectedColumnsList(); // Update the list of selected columns
              });
          });

          // Function to update the list of selected columns
          function updateSelectedColumnsList() {
              const selectedColumns = {};
              checkboxes.forEach(box => {
                  if (box.checked) {
                      const [category, ...columnParts] = box.value.split('.');
                      const column = columnParts.join('.');
                      if (!selectedColumns[category]) {
                          selectedColumns[category] = [];
                      }
                      selectedColumns[category].push(column.replace(/_/g, ' ').replace(/\b\w/g, l => l.toUpperCase()));
                  }
              });
  
              const selectedColumnsText = Object.entries(selectedColumns)
                  .map(([category, columns]) => {
                      return `<strong>${category.replace(/_/g, ' ').replace(/\b\w/g, l => l.toUpperCase()).replace('Totals.', '')}:</strong> ${columns.join(', ')}`;
                  })
                  .join('<br>');
  
              selectedColumnsList.innerHTML = selectedColumnsText || 'None';
          }
  
          // Function to handle form submission
          function handleFormSubmission(event) {
            event.preventDefault(); // Prevent default form submission

            // Show the loading spinner
            document.getElementById('loading-spinner').style.display = 'block';

            // First, send form data to /process_columns
            fetch('/process_columns', {
                method: 'POST',
                body: new FormData(form)
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    // If /process_columns is successful, send a request to /generate_analysis
                    return fetch('/generate_analysis', {
                        method: 'POST'
                    });
                } else {
                    throw new Error('Error processing columns.');
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === "success") {
                    // If /generate_analysis is successful, redirect to /view_analysis
                    window.location.href = '/view_analysis'; 
                } else {
                    throw new Error(data.error || 'Error generating analysis.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred. Please try again.');
                document.getElementById('loading-spinner').style.display = 'none';
            });
          }
  
          // Attach the handleFormSubmission function to the form's submit event
          form.addEventListener('submit', handleFormSubmission);
  
          // Add event listener to clear all selections when the "Clear Selection" button is clicked
          document.getElementById('clearSelection').addEventListener('click', function() {
              document.querySelectorAll('.form-check-input').forEach(function(checkbox) {
                  checkbox.checked = false;
              });
              document.getElementById('selectedColumnsList').textContent = 'None';
          });
      });
    </script>
  
  </body>
</html>
