<table border="1" class="dataframe table table-bordered">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>missing_values</th>
      <th>duplicate_rows</th>
      <th>data_types</th>
      <th>outliers</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>scoring_differential</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>1</td>
    </tr>
    <tr>
      <th>statistics_home.efficiency.goaltogo.attempts</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>4</td>
    </tr>
    <tr>
      <th>statistics_away.efficiency.goaltogo.attempts</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>2</td>
    </tr>
    <tr>
      <th>statistics_home.efficiency.goaltogo.successes</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>4</td>
    </tr>
    <tr>
      <th>statistics_away.efficiency.goaltogo.successes</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>2</td>
    </tr>
    <tr>
      <th>statistics_home.efficiency.goaltogo.pct</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>0</td>
    </tr>
    <tr>
      <th>statistics_away.efficiency.goaltogo.pct</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>0</td>
    </tr>
    <tr>
      <th>statistics_home.efficiency.redzone.attempts</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>3</td>
    </tr>
    <tr>
      <th>statistics_away.efficiency.redzone.attempts</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>1</td>
    </tr>
    <tr>
      <th>statistics_home.efficiency.redzone.successes</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>7</td>
    </tr>
    <tr>
      <th>statistics_away.efficiency.redzone.successes</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>2</td>
    </tr>
    <tr>
      <th>statistics_home.efficiency.redzone.pct</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>0</td>
    </tr>
    <tr>
      <th>statistics_away.efficiency.redzone.pct</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>0</td>
    </tr>
    <tr>
      <th>statistics_home.efficiency.thirddown.attempts</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>5</td>
    </tr>
    <tr>
      <th>statistics_away.efficiency.thirddown.attempts</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>2</td>
    </tr>
    <tr>
      <th>statistics_home.efficiency.thirddown.successes</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>4</td>
    </tr>
    <tr>
      <th>statistics_away.efficiency.thirddown.successes</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>7</td>
    </tr>
    <tr>
      <th>statistics_home.efficiency.thirddown.pct</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>1</td>
    </tr>
    <tr>
      <th>statistics_away.efficiency.thirddown.pct</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>2</td>
    </tr>
    <tr>
      <th>statistics_home.efficiency.fourthdown.attempts</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>2</td>
    </tr>
    <tr>
      <th>statistics_away.efficiency.fourthdown.attempts</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>9</td>
    </tr>
    <tr>
      <th>statistics_home.efficiency.fourthdown.successes</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>6</td>
    </tr>
    <tr>
      <th>statistics_away.efficiency.fourthdown.successes</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>8</td>
    </tr>
    <tr>
      <th>statistics_home.efficiency.fourthdown.pct</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>0</td>
    </tr>
    <tr>
      <th>statistics_away.efficiency.fourthdown.pct</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>0</td>
    </tr>
  </tbody>
</table>