<table border="1" class="dataframe table table-bordered">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>missing_values</th>
      <th>duplicate_rows</th>
      <th>data_types</th>
      <th>outliers</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>odds.spread</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>2</td>
    </tr>
    <tr>
      <th>summary.penalties_difference</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>10</td>
    </tr>
    <tr>
      <th>summary.play_count_difference</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>9</td>
    </tr>
    <tr>
      <th>summary.safeties_difference</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>14</td>
    </tr>
    <tr>
      <th>receiving.totals.longest_difference</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>10</td>
    </tr>
    <tr>
      <th>receiving.totals.yards_after_contact_difference</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>12</td>
    </tr>
    <tr>
      <th>punt_returns.totals.longest_difference</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>13</td>
    </tr>
    <tr>
      <th>passing.totals.air_yards_difference</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>6</td>
    </tr>
    <tr>
      <th>passing.totals.sacks_difference</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>7</td>
    </tr>
    <tr>
      <th>passing.totals.touchdowns_difference</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>10</td>
    </tr>
    <tr>
      <th>misc_returns.totals.blk_punt_touchdowns_difference</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>21</td>
    </tr>
    <tr>
      <th>misc_returns.totals.number_difference</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>21</td>
    </tr>
    <tr>
      <th>kickoffs.totals.endzone_difference</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>7</td>
    </tr>
    <tr>
      <th>kickoffs.totals.yards_difference</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>7</td>
    </tr>
    <tr>
      <th>fumbles.totals.opp_rec_yards_difference</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>16</td>
    </tr>
    <tr>
      <th>field_goals.totals.attempts_difference</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>14</td>
    </tr>
    <tr>
      <th>defense.totals.assists_difference</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>13</td>
    </tr>
    <tr>
      <th>defense.totals.interceptions_difference</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>15</td>
    </tr>
    <tr>
      <th>first_downs.total_difference</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>7</td>
    </tr>
    <tr>
      <th>touchdowns.kick_return_difference</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>22</td>
    </tr>
    <tr>
      <th>touchdowns.other_difference</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>21</td>
    </tr>
    <tr>
      <th>touchdowns.pass_difference</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>10</td>
    </tr>
    <tr>
      <th>touchdowns.total_difference</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>7</td>
    </tr>
    <tr>
      <th>touchdowns.total_return_difference</th>
      <td>0</td>
      <td>0</td>
      <td>float64</td>
      <td>15</td>
    </tr>
  </tbody>
</table>