
            <div class="container mx-auto mt-5 bg-white p-8 rounded-lg shadow-md">
                <h2 class="text-2xl font-bold mb-4 text-gray-800">Descriptive Statistics</h2>
                <table class="dataframe custom-table">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>count</th>
      <th>mean</th>
      <th>std</th>
      <th>min</th>
      <th>25%</th>
      <th>50%</th>
      <th>75%</th>
      <th>max</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>odds.spread_close</th>
      <td>2300.0</td>
      <td>-1.919783</td>
      <td>5.953676</td>
      <td>-21.500000</td>
      <td>-6.000000</td>
      <td>-3.000000e+00</td>
      <td>3.000000</td>
      <td>18.000000</td>
    </tr>
    <tr>
      <th>passing.totals.dropped_passes_difference</th>
      <td>2300.0</td>
      <td>-0.011451</td>
      <td>0.964669</td>
      <td>-4.203441</td>
      <td>-0.572904</td>
      <td>-1.366015e-02</td>
      <td>0.541338</td>
      <td>5.593746</td>
    </tr>
    <tr>
      <th>passing.totals.sack_yards_difference</th>
      <td>2300.0</td>
      <td>-0.088432</td>
      <td>9.226170</td>
      <td>-37.259884</td>
      <td>-5.513522</td>
      <td>-4.749893e-02</td>
      <td>5.613833</td>
      <td>50.914535</td>
    </tr>
    <tr>
      <th>receiving.totals.avg_yards_ratio</th>
      <td>2300.0</td>
      <td>1.012116</td>
      <td>0.190739</td>
      <td>0.142271</td>
      <td>0.912369</td>
      <td>9.979087e-01</td>
      <td>1.093732</td>
      <td>5.947890</td>
    </tr>
    <tr>
      <th>receiving.totals.longest_difference</th>
      <td>2300.0</td>
      <td>0.011898</td>
      <td>9.195342</td>
      <td>-46.394006</td>
      <td>-5.523120</td>
      <td>-2.641637e-03</td>
      <td>5.473077</td>
      <td>47.548230</td>
    </tr>
    <tr>
      <th>summary.play_count_difference</th>
      <td>2300.0</td>
      <td>-0.201931</td>
      <td>6.336638</td>
      <td>-56.463751</td>
      <td>-3.833998</td>
      <td>-9.076421e-02</td>
      <td>3.504743</td>
      <td>48.981430</td>
    </tr>
    <tr>
      <th>summary.return_yards_difference</th>
      <td>2300.0</td>
      <td>-0.050795</td>
      <td>18.514755</td>
      <td>-112.547443</td>
      <td>-10.049823</td>
      <td>2.982894e-01</td>
      <td>9.664695</td>
      <td>139.535202</td>
    </tr>
    <tr>
      <th>summary.rush_plays_difference</th>
      <td>2300.0</td>
      <td>-0.139473</td>
      <td>5.688764</td>
      <td>-25.883044</td>
      <td>-3.649526</td>
      <td>-1.617815e-01</td>
      <td>3.437205</td>
      <td>22.124717</td>
    </tr>
    <tr>
      <th>efficiency.redzone.attempts_difference</th>
      <td>2300.0</td>
      <td>-0.026541</td>
      <td>1.036033</td>
      <td>-5.288334</td>
      <td>-0.665622</td>
      <td>-2.108532e-02</td>
      <td>0.623247</td>
      <td>4.749118</td>
    </tr>
    <tr>
      <th>defense.totals.fumble_recoveries_difference</th>
      <td>2300.0</td>
      <td>0.000910</td>
      <td>0.461663</td>
      <td>-2.703810</td>
      <td>-0.246635</td>
      <td>-5.881790e-04</td>
      <td>0.253238</td>
      <td>2.665871</td>
    </tr>
    <tr>
      <th>defense.totals.misc_forced_fumbles_difference</th>
      <td>2300.0</td>
      <td>-0.000107</td>
      <td>0.072839</td>
      <td>-0.917054</td>
      <td>-0.000009</td>
      <td>0.000000e+00</td>
      <td>0.000008</td>
      <td>0.482532</td>
    </tr>
    <tr>
      <th>defense.totals.missed_tackles_difference</th>
      <td>2300.0</td>
      <td>0.034072</td>
      <td>2.502387</td>
      <td>-14.583042</td>
      <td>-1.284354</td>
      <td>5.095431e-02</td>
      <td>1.362670</td>
      <td>13.729158</td>
    </tr>
    <tr>
      <th>defense.totals.sp_fumble_recoveries_difference</th>
      <td>2300.0</td>
      <td>-0.006517</td>
      <td>0.221144</td>
      <td>-1.804251</td>
      <td>-0.099608</td>
      <td>-7.368286e-06</td>
      <td>0.089368</td>
      <td>0.990561</td>
    </tr>
    <tr>
      <th>advanced.rush_pass_rate_difference</th>
      <td>2300.0</td>
      <td>-0.006788</td>
      <td>0.336181</td>
      <td>-2.794515</td>
      <td>-0.193260</td>
      <td>-3.182303e-03</td>
      <td>0.180841</td>
      <td>1.784037</td>
    </tr>
    <tr>
      <th>extra_points.conversions.totals.pass_successes_difference</th>
      <td>2300.0</td>
      <td>-0.004136</td>
      <td>0.186637</td>
      <td>-1.801805</td>
      <td>-0.054401</td>
      <td>0.000000e+00</td>
      <td>0.049029</td>
      <td>0.974168</td>
    </tr>
    <tr>
      <th>fumbles.totals.ez_rec_tds_difference</th>
      <td>2300.0</td>
      <td>-0.000056</td>
      <td>0.044715</td>
      <td>-0.481956</td>
      <td>0.000000</td>
      <td>0.000000e+00</td>
      <td>0.000000</td>
      <td>0.333392</td>
    </tr>
    <tr>
      <th>fumbles.totals.fumbles_difference</th>
      <td>2300.0</td>
      <td>0.001099</td>
      <td>0.742238</td>
      <td>-3.602482</td>
      <td>-0.455429</td>
      <td>-1.234420e-03</td>
      <td>0.444398</td>
      <td>3.454416</td>
    </tr>
    <tr>
      <th>fumbles.totals.out_of_bounds_difference</th>
      <td>2300.0</td>
      <td>-0.000435</td>
      <td>0.186702</td>
      <td>-1.425740</td>
      <td>-0.033929</td>
      <td>0.000000e+00</td>
      <td>0.023476</td>
      <td>2.677496</td>
    </tr>
    <tr>
      <th>interceptions.return_yards_difference</th>
      <td>2300.0</td>
      <td>-0.055734</td>
      <td>12.435215</td>
      <td>-75.210902</td>
      <td>-6.238958</td>
      <td>-6.021073e-02</td>
      <td>6.187871</td>
      <td>61.253633</td>
    </tr>
    <tr>
      <th>kick_returns.totals.yards_difference</th>
      <td>2300.0</td>
      <td>-0.114441</td>
      <td>23.936252</td>
      <td>-126.410317</td>
      <td>-14.894774</td>
      <td>-2.368674e-01</td>
      <td>14.400765</td>
      <td>114.976255</td>
    </tr>
    <tr>
      <th>kickoffs.totals.onside_attempts_difference</th>
      <td>2300.0</td>
      <td>-0.001235</td>
      <td>0.223043</td>
      <td>-1.829580</td>
      <td>-0.094262</td>
      <td>-1.665026e-07</td>
      <td>0.086507</td>
      <td>1.431907</td>
    </tr>
    <tr>
      <th>misc_returns.totals.blk_punt_touchdowns_difference</th>
      <td>2300.0</td>
      <td>0.000055</td>
      <td>0.045321</td>
      <td>-0.477188</td>
      <td>0.000000</td>
      <td>0.000000e+00</td>
      <td>0.000000</td>
      <td>0.869038</td>
    </tr>
    <tr>
      <th>misc_returns.totals.ez_rec_touchdowns_difference</th>
      <td>2300.0</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000</td>
      <td>0.000000e+00</td>
      <td>0.000000</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>punt_returns.totals.number_difference</th>
      <td>2300.0</td>
      <td>-0.008634</td>
      <td>0.906068</td>
      <td>-4.484279</td>
      <td>-0.551276</td>
      <td>-1.469796e-02</td>
      <td>0.548208</td>
      <td>4.221449</td>
    </tr>
  </tbody>
</table>
            </div>
            