<table border="1" class="dataframe table table-bordered">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>count</th>
      <th>mean</th>
      <th>std</th>
      <th>min</th>
      <th>25%</th>
      <th>50%</th>
      <th>75%</th>
      <th>max</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>odds.spread</th>
      <td>961.0</td>
      <td>-1.660250</td>
      <td>6.318485</td>
      <td>-22.000000</td>
      <td>-6.000000</td>
      <td>-2.500000</td>
      <td>3.000000</td>
      <td>18.000000</td>
    </tr>
    <tr>
      <th>receiving.totals.catchable_passes_difference</th>
      <td>961.0</td>
      <td>-0.014595</td>
      <td>1.116403</td>
      <td>-5.507002</td>
      <td>-0.679199</td>
      <td>0.006493</td>
      <td>0.653602</td>
      <td>4.491235</td>
    </tr>
    <tr>
      <th>receiving.totals.touchdowns_difference</th>
      <td>961.0</td>
      <td>0.009041</td>
      <td>0.919280</td>
      <td>-3.621282</td>
      <td>-0.559632</td>
      <td>0.008937</td>
      <td>0.593794</td>
      <td>3.608642</td>
    </tr>
    <tr>
      <th>int_returns.totals.number_difference</th>
      <td>961.0</td>
      <td>0.002283</td>
      <td>0.605760</td>
      <td>-2.666772</td>
      <td>-0.321735</td>
      <td>-0.007975</td>
      <td>0.346670</td>
      <td>3.494678</td>
    </tr>
    <tr>
      <th>fumbles.totals.opp_rec_tds_difference</th>
      <td>961.0</td>
      <td>-0.001081</td>
      <td>0.108429</td>
      <td>-0.913954</td>
      <td>-0.001894</td>
      <td>0.000000</td>
      <td>0.001246</td>
      <td>0.548836</td>
    </tr>
    <tr>
      <th>field_goals.totals.blocked_difference</th>
      <td>961.0</td>
      <td>-0.002333</td>
      <td>0.106460</td>
      <td>-0.879094</td>
      <td>-0.000303</td>
      <td>0.000000</td>
      <td>0.000345</td>
      <td>0.933478</td>
    </tr>
    <tr>
      <th>defense.totals.combined_difference</th>
      <td>961.0</td>
      <td>-0.160547</td>
      <td>7.711124</td>
      <td>-34.654607</td>
      <td>-4.732948</td>
      <td>-0.460140</td>
      <td>4.445954</td>
      <td>31.012858</td>
    </tr>
    <tr>
      <th>defense.totals.tackles_difference</th>
      <td>961.0</td>
      <td>-0.020403</td>
      <td>4.804731</td>
      <td>-22.036816</td>
      <td>-2.750429</td>
      <td>-0.109364</td>
      <td>2.548971</td>
      <td>23.143207</td>
    </tr>
    <tr>
      <th>touchdowns.total_difference</th>
      <td>961.0</td>
      <td>0.005550</td>
      <td>1.070783</td>
      <td>-3.407424</td>
      <td>-0.689639</td>
      <td>0.014883</td>
      <td>0.702793</td>
      <td>5.354188</td>
    </tr>
  </tbody>
</table>