<table border="1" class="dataframe table table-bordered">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>count</th>
      <th>mean</th>
      <th>std</th>
      <th>min</th>
      <th>25%</th>
      <th>50%</th>
      <th>75%</th>
      <th>max</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>odds.spread_close</th>
      <td>938.0</td>
      <td>-1.581023</td>
      <td>6.205167</td>
      <td>-20.000000</td>
      <td>-6.000000</td>
      <td>-2.500000e+00</td>
      <td>3.000000e+00</td>
      <td>16.500000</td>
    </tr>
    <tr>
      <th>passing.totals.blitzes_difference</th>
      <td>938.0</td>
      <td>0.053782</td>
      <td>3.458746</td>
      <td>-16.392963</td>
      <td>-1.919801</td>
      <td>4.996718e-02</td>
      <td>2.083336e+00</td>
      <td>15.776906</td>
    </tr>
    <tr>
      <th>passing.totals.hurries_difference</th>
      <td>938.0</td>
      <td>0.017162</td>
      <td>2.010297</td>
      <td>-14.015053</td>
      <td>-0.998806</td>
      <td>-2.300881e-02</td>
      <td>1.083431e+00</td>
      <td>11.971494</td>
    </tr>
    <tr>
      <th>passing.totals.knockdowns_difference</th>
      <td>938.0</td>
      <td>-0.007639</td>
      <td>1.692573</td>
      <td>-5.903205</td>
      <td>-1.141638</td>
      <td>-9.127901e-03</td>
      <td>1.145006e+00</td>
      <td>6.247944</td>
    </tr>
    <tr>
      <th>passing.totals.pocket_time_difference</th>
      <td>938.0</td>
      <td>-0.075179</td>
      <td>17.204111</td>
      <td>-57.492980</td>
      <td>-11.098149</td>
      <td>4.951178e-01</td>
      <td>1.135810e+01</td>
      <td>69.590706</td>
    </tr>
    <tr>
      <th>passing.totals.rating_ratio</th>
      <td>938.0</td>
      <td>1.019219</td>
      <td>0.216191</td>
      <td>0.348158</td>
      <td>0.878397</td>
      <td>9.982365e-01</td>
      <td>1.131583e+00</td>
      <td>2.096364</td>
    </tr>
    <tr>
      <th>passing.totals.sacks_difference</th>
      <td>938.0</td>
      <td>-0.013503</td>
      <td>1.203394</td>
      <td>-4.503011</td>
      <td>-0.745336</td>
      <td>-1.103875e-02</td>
      <td>7.655281e-01</td>
      <td>6.489342</td>
    </tr>
    <tr>
      <th>summary.avg_gain_ratio</th>
      <td>938.0</td>
      <td>1.014849</td>
      <td>0.162767</td>
      <td>0.579834</td>
      <td>0.904769</td>
      <td>1.006336e+00</td>
      <td>1.109404e+00</td>
      <td>1.870839</td>
    </tr>
    <tr>
      <th>summary.possession_time_difference</th>
      <td>938.0</td>
      <td>-0.081917</td>
      <td>3.257341</td>
      <td>-14.365338</td>
      <td>-1.934343</td>
      <td>8.149692e-02</td>
      <td>1.827155e+00</td>
      <td>13.008864</td>
    </tr>
    <tr>
      <th>summary.turnovers_difference</th>
      <td>938.0</td>
      <td>0.002296</td>
      <td>0.714711</td>
      <td>-3.088197</td>
      <td>-0.384937</td>
      <td>1.084774e-02</td>
      <td>4.028824e-01</td>
      <td>3.315878</td>
    </tr>
    <tr>
      <th>efficiency.fourthdown.pct_ratio</th>
      <td>938.0</td>
      <td>5.848688</td>
      <td>54.483119</td>
      <td>0.000000</td>
      <td>0.651974</td>
      <td>9.904506e-01</td>
      <td>1.566443e+00</td>
      <td>1205.641439</td>
    </tr>
    <tr>
      <th>efficiency.redzone.pct_ratio</th>
      <td>938.0</td>
      <td>1.114329</td>
      <td>0.953337</td>
      <td>0.060940</td>
      <td>0.818554</td>
      <td>1.003510e+00</td>
      <td>1.205315e+00</td>
      <td>21.355432</td>
    </tr>
    <tr>
      <th>efficiency.thirddown.pct_ratio</th>
      <td>938.0</td>
      <td>1.023570</td>
      <td>0.261038</td>
      <td>0.329203</td>
      <td>0.858129</td>
      <td>1.006184e+00</td>
      <td>1.153305e+00</td>
      <td>2.847835</td>
    </tr>
    <tr>
      <th>defense.totals.blitzes_difference</th>
      <td>938.0</td>
      <td>-0.078454</td>
      <td>10.415484</td>
      <td>-44.648493</td>
      <td>-6.014976</td>
      <td>-2.979818e-02</td>
      <td>5.402222e+00</td>
      <td>52.342643</td>
    </tr>
    <tr>
      <th>defense.totals.hurries_difference</th>
      <td>938.0</td>
      <td>0.063230</td>
      <td>1.986092</td>
      <td>-11.892897</td>
      <td>-0.978763</td>
      <td>-3.849427e-02</td>
      <td>1.119351e+00</td>
      <td>13.265167</td>
    </tr>
    <tr>
      <th>defense.totals.interceptions_difference</th>
      <td>938.0</td>
      <td>0.000650</td>
      <td>0.590144</td>
      <td>-2.728174</td>
      <td>-0.318602</td>
      <td>-9.558921e-03</td>
      <td>3.499774e-01</td>
      <td>3.494678</td>
    </tr>
    <tr>
      <th>defense.totals.knockdowns_difference</th>
      <td>938.0</td>
      <td>0.013345</td>
      <td>1.557363</td>
      <td>-4.879810</td>
      <td>-1.049567</td>
      <td>5.244614e-03</td>
      <td>9.852131e-01</td>
      <td>6.259619</td>
    </tr>
    <tr>
      <th>defense.totals.qb_hits_difference</th>
      <td>938.0</td>
      <td>0.031814</td>
      <td>2.012202</td>
      <td>-7.461196</td>
      <td>-1.280841</td>
      <td>2.044441e-02</td>
      <td>1.300576e+00</td>
      <td>9.225345</td>
    </tr>
    <tr>
      <th>defense.totals.sacks_difference</th>
      <td>938.0</td>
      <td>0.004623</td>
      <td>1.097144</td>
      <td>-4.612527</td>
      <td>-0.689298</td>
      <td>2.411502e-02</td>
      <td>6.941724e-01</td>
      <td>5.222048</td>
    </tr>
    <tr>
      <th>defense.totals.tloss_difference</th>
      <td>938.0</td>
      <td>0.022979</td>
      <td>1.566387</td>
      <td>-9.054341</td>
      <td>-0.971515</td>
      <td>1.996026e-02</td>
      <td>9.739582e-01</td>
      <td>7.503722</td>
    </tr>
    <tr>
      <th>extra_points.kicks.totals.pct_difference</th>
      <td>938.0</td>
      <td>0.195337</td>
      <td>22.146049</td>
      <td>-93.754423</td>
      <td>-11.243265</td>
      <td>-9.420788e-03</td>
      <td>1.121480e+01</td>
      <td>95.806740</td>
    </tr>
    <tr>
      <th>field_goals.totals.pct_ratio</th>
      <td>938.0</td>
      <td>1.254094</td>
      <td>3.672843</td>
      <td>0.003530</td>
      <td>0.825956</td>
      <td>9.997572e-01</td>
      <td>1.195780e+00</td>
      <td>102.407221</td>
    </tr>
    <tr>
      <th>kick_returns.totals.avg_yards_difference</th>
      <td>938.0</td>
      <td>-0.013755</td>
      <td>8.360424</td>
      <td>-40.436170</td>
      <td>-4.590718</td>
      <td>1.138564e-01</td>
      <td>4.726797e+00</td>
      <td>38.427530</td>
    </tr>
    <tr>
      <th>misc_returns.totals.yards_difference</th>
      <td>938.0</td>
      <td>-0.023909</td>
      <td>3.577041</td>
      <td>-36.343643</td>
      <td>-0.003723</td>
      <td>0.000000e+00</td>
      <td>4.298449e-03</td>
      <td>48.130877</td>
    </tr>
    <tr>
      <th>penalties.totals.penalties_difference</th>
      <td>938.0</td>
      <td>0.004531</td>
      <td>1.704962</td>
      <td>-7.566300</td>
      <td>-1.030505</td>
      <td>6.363098e-03</td>
      <td>9.781273e-01</td>
      <td>6.709923</td>
    </tr>
    <tr>
      <th>punt_returns.totals.avg_yards_difference</th>
      <td>938.0</td>
      <td>0.053583</td>
      <td>5.094856</td>
      <td>-32.656486</td>
      <td>-2.521648</td>
      <td>7.936300e-02</td>
      <td>2.761202e+00</td>
      <td>32.471529</td>
    </tr>
    <tr>
      <th>punts.totals.avg_hang_time_ratio</th>
      <td>938.0</td>
      <td>1.004306</td>
      <td>0.126665</td>
      <td>0.085370</td>
      <td>0.946461</td>
      <td>9.958000e-01</td>
      <td>1.053705e+00</td>
      <td>1.855183</td>
    </tr>
    <tr>
      <th>touchdowns.fumble_return_difference</th>
      <td>938.0</td>
      <td>-0.002221</td>
      <td>0.119701</td>
      <td>-0.913257</td>
      <td>-0.003606</td>
      <td>0.000000e+00</td>
      <td>2.267569e-03</td>
      <td>0.874418</td>
    </tr>
    <tr>
      <th>touchdowns.int_return_difference</th>
      <td>938.0</td>
      <td>0.002472</td>
      <td>0.167260</td>
      <td>-0.918139</td>
      <td>-0.040191</td>
      <td>3.300653e-07</td>
      <td>5.460713e-02</td>
      <td>0.880326</td>
    </tr>
    <tr>
      <th>touchdowns.kick_return_difference</th>
      <td>938.0</td>
      <td>0.001683</td>
      <td>0.058696</td>
      <td>-0.477218</td>
      <td>-0.000009</td>
      <td>0.000000e+00</td>
      <td>1.367967e-05</td>
      <td>0.487365</td>
    </tr>
    <tr>
      <th>touchdowns.other_difference</th>
      <td>938.0</td>
      <td>0.001015</td>
      <td>0.067452</td>
      <td>-0.456747</td>
      <td>0.000000</td>
      <td>0.000000e+00</td>
      <td>0.000000e+00</td>
      <td>0.867493</td>
    </tr>
    <tr>
      <th>touchdowns.punt_return_difference</th>
      <td>938.0</td>
      <td>0.001054</td>
      <td>0.047408</td>
      <td>-0.464195</td>
      <td>0.000000</td>
      <td>0.000000e+00</td>
      <td>8.639722e-08</td>
      <td>0.472313</td>
    </tr>
  </tbody>
</table>