
            <div class="container mx-auto mt-5 bg-white p-8 rounded-lg shadow-md">
                <h2 class="text-2xl font-bold mb-4 text-gray-800">Feature Coefficients</h2>
                <table class="dataframe custom-table">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Feature</th>
      <th>Coefficient</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>80</th>
      <td>defense.totals.interceptions_difference</td>
      <td>-10.293303</td>
    </tr>
    <tr>
      <th>76</th>
      <td>defense.totals.def_targets_difference</td>
      <td>-9.147302</td>
    </tr>
    <tr>
      <th>75</th>
      <td>defense.totals.def_comps_difference</td>
      <td>8.125926</td>
    </tr>
    <tr>
      <th>60</th>
      <td>efficiency.fourthdown.attempts_difference</td>
      <td>6.970958</td>
    </tr>
    <tr>
      <th>183</th>
      <td>punts.totals.hang_time_difference</td>
      <td>6.487653</td>
    </tr>
    <tr>
      <th>156</th>
      <td>kickoffs.totals.onside_successes_difference</td>
      <td>6.254776</td>
    </tr>
    <tr>
      <th>155</th>
      <td>kickoffs.totals.onside_attempts_difference</td>
      <td>5.484346</td>
    </tr>
    <tr>
      <th>175</th>
      <td>punt_returns.totals.number_difference</td>
      <td>-5.461692</td>
    </tr>
    <tr>
      <th>89</th>
      <td>defense.totals.sack_yards_difference</td>
      <td>-5.267008</td>
    </tr>
    <tr>
      <th>127</th>
      <td>first_downs.rush_difference</td>
      <td>-4.982635</td>
    </tr>
    <tr>
      <th>116</th>
      <td>extra_points.kicks.totals.made_difference</td>
      <td>-4.622717</td>
    </tr>
    <tr>
      <th>173</th>
      <td>punt_returns.totals.faircatches_difference</td>
      <td>-4.532213</td>
    </tr>
    <tr>
      <th>13</th>
      <td>passing.totals.pocket_time_difference</td>
      <td>-4.081081</td>
    </tr>
    <tr>
      <th>97</th>
      <td>defense.totals.tackles_difference</td>
      <td>4.061030</td>
    </tr>
    <tr>
      <th>26</th>
      <td>rushing.totals.kneel_downs_difference</td>
      <td>-3.886440</td>
    </tr>
    <tr>
      <th>170</th>
      <td>penalties.totals.penalties_difference</td>
      <td>3.818905</td>
    </tr>
    <tr>
      <th>58</th>
      <td>summary.total_yards_difference</td>
      <td>-3.815134</td>
    </tr>
    <tr>
      <th>166</th>
      <td>misc_returns.totals.fg_return_touchdowns_difference</td>
      <td>3.780207</td>
    </tr>
    <tr>
      <th>69</th>
      <td>efficiency.thirddown.attempts_difference</td>
      <td>3.726029</td>
    </tr>
    <tr>
      <th>51</th>
      <td>summary.penalties_difference</td>
      <td>3.704247</td>
    </tr>
    <tr>
      <th>79</th>
      <td>defense.totals.hurries_difference</td>
      <td>-3.687195</td>
    </tr>
    <tr>
      <th>121</th>
      <td>field_goals.totals.made_difference</td>
      <td>-3.653091</td>
    </tr>
    <tr>
      <th>33</th>
      <td>rushing.totals.yards_difference</td>
      <td>-3.628153</td>
    </tr>
    <tr>
      <th>9</th>
      <td>passing.totals.interceptions_difference</td>
      <td>3.530903</td>
    </tr>
    <tr>
      <th>104</th>
      <td>advanced.pressure_rate_on_qb_difference</td>
      <td>3.522684</td>
    </tr>
    <tr>
      <th>63</th>
      <td>efficiency.goaltogo.attempts_difference</td>
      <td>-3.478916</td>
    </tr>
    <tr>
      <th>110</th>
      <td>extra_points.conversions.totals.pass_attempts_difference</td>
      <td>3.397573</td>
    </tr>
    <tr>
      <th>157</th>
      <td>kickoffs.totals.out_of_bounds_difference</td>
      <td>-3.384720</td>
    </tr>
    <tr>
      <th>42</th>
      <td>receiving.totals.redzone_targets_difference</td>
      <td>-3.377842</td>
    </tr>
    <tr>
      <th>74</th>
      <td>defense.totals.combined_difference</td>
      <td>3.246310</td>
    </tr>
    <tr>
      <th>154</th>
      <td>kickoffs.totals.number_difference</td>
      <td>3.129912</td>
    </tr>
    <tr>
      <th>59</th>
      <td>summary.turnovers_difference</td>
      <td>3.053125</td>
    </tr>
    <tr>
      <th>178</th>
      <td>punts.totals.attempts_difference</td>
      <td>3.034909</td>
    </tr>
    <tr>
      <th>125</th>
      <td>first_downs.pass_difference</td>
      <td>2.978561</td>
    </tr>
    <tr>
      <th>68</th>
      <td>efficiency.redzone.successes_difference</td>
      <td>-2.976817</td>
    </tr>
    <tr>
      <th>171</th>
      <td>penalties.totals.yards_difference</td>
      <td>-2.952359</td>
    </tr>
    <tr>
      <th>52</th>
      <td>summary.penalty_yards_difference</td>
      <td>-2.947694</td>
    </tr>
    <tr>
      <th>93</th>
      <td>defense.totals.sp_blocks_difference</td>
      <td>-2.905630</td>
    </tr>
    <tr>
      <th>46</th>
      <td>receiving.totals.yards_after_catch_ratio</td>
      <td>-2.886400</td>
    </tr>
    <tr>
      <th>113</th>
      <td>extra_points.conversions.totals.rush_successes_difference</td>
      <td>-2.856258</td>
    </tr>
    <tr>
      <th>172</th>
      <td>punt_returns.totals.avg_yards_difference</td>
      <td>-2.766132</td>
    </tr>
    <tr>
      <th>29</th>
      <td>rushing.totals.scrambles_difference</td>
      <td>-2.684356</td>
    </tr>
    <tr>
      <th>198</th>
      <td>touchdowns.total_return_difference</td>
      <td>-2.653854</td>
    </tr>
    <tr>
      <th>19</th>
      <td>passing.totals.spikes_difference</td>
      <td>2.593432</td>
    </tr>
    <tr>
      <th>17</th>
      <td>passing.totals.sack_yards_difference</td>
      <td>2.580401</td>
    </tr>
    <tr>
      <th>101</th>
      <td>advanced.defensive_line_rating_difference</td>
      <td>-2.573125</td>
    </tr>
    <tr>
      <th>6</th>
      <td>passing.totals.defended_passes_difference</td>
      <td>2.495055</td>
    </tr>
    <tr>
      <th>8</th>
      <td>passing.totals.hurries_difference</td>
      <td>2.491238</td>
    </tr>
    <tr>
      <th>115</th>
      <td>extra_points.kicks.totals.blocked_difference</td>
      <td>-2.456796</td>
    </tr>
    <tr>
      <th>100</th>
      <td>advanced.air_to_total_yards_rate_difference</td>
      <td>-2.437314</td>
    </tr>
    <tr>
      <th>160</th>
      <td>kickoffs.totals.total_endzone_difference</td>
      <td>2.418115</td>
    </tr>
    <tr>
      <th>126</th>
      <td>first_downs.penalty_difference</td>
      <td>2.400941</td>
    </tr>
    <tr>
      <th>167</th>
      <td>misc_returns.totals.number_difference</td>
      <td>-2.376678</td>
    </tr>
    <tr>
      <th>182</th>
      <td>punts.totals.blocked_difference</td>
      <td>-2.346735</td>
    </tr>
    <tr>
      <th>144</th>
      <td>interceptions.number_difference</td>
      <td>2.312291</td>
    </tr>
    <tr>
      <th>146</th>
      <td>interceptions.returned_difference</td>
      <td>2.312291</td>
    </tr>
    <tr>
      <th>141</th>
      <td>int_returns.totals.number_difference</td>
      <td>2.312291</td>
    </tr>
    <tr>
      <th>12</th>
      <td>passing.totals.net_yards_difference</td>
      <td>-2.242215</td>
    </tr>
    <tr>
      <th>197</th>
      <td>touchdowns.total_difference</td>
      <td>-2.237431</td>
    </tr>
    <tr>
      <th>10</th>
      <td>passing.totals.knockdowns_difference</td>
      <td>-2.232495</td>
    </tr>
    <tr>
      <th>179</th>
      <td>punts.totals.avg_hang_time_ratio</td>
      <td>2.206423</td>
    </tr>
    <tr>
      <th>108</th>
      <td>extra_points.conversions.totals.defense_attempts_difference</td>
      <td>2.094309</td>
    </tr>
    <tr>
      <th>61</th>
      <td>efficiency.fourthdown.pct_ratio</td>
      <td>-2.047124</td>
    </tr>
    <tr>
      <th>56</th>
      <td>summary.rush_plays_difference</td>
      <td>2.031477</td>
    </tr>
    <tr>
      <th>23</th>
      <td>rushing.totals.attempts_difference</td>
      <td>2.031477</td>
    </tr>
    <tr>
      <th>45</th>
      <td>receiving.totals.yards_difference</td>
      <td>-1.956496</td>
    </tr>
    <tr>
      <th>22</th>
      <td>passing.totals.yards_difference</td>
      <td>-1.956496</td>
    </tr>
    <tr>
      <th>34</th>
      <td>rushing.totals.yards_after_contact_difference</td>
      <td>1.869912</td>
    </tr>
    <tr>
      <th>106</th>
      <td>advanced.rush_pass_rate_difference</td>
      <td>-1.863038</td>
    </tr>
    <tr>
      <th>114</th>
      <td>extra_points.kicks.totals.attempts_difference</td>
      <td>-1.814576</td>
    </tr>
    <tr>
      <th>161</th>
      <td>kickoffs.totals.touchbacks_difference</td>
      <td>1.791070</td>
    </tr>
    <tr>
      <th>176</th>
      <td>punt_returns.totals.touchdowns_difference</td>
      <td>-1.782907</td>
    </tr>
    <tr>
      <th>195</th>
      <td>touchdowns.punt_return_difference</td>
      <td>-1.782907</td>
    </tr>
    <tr>
      <th>88</th>
      <td>defense.totals.qb_hits_difference</td>
      <td>-1.754836</td>
    </tr>
    <tr>
      <th>169</th>
      <td>misc_returns.totals.yards_difference</td>
      <td>1.726801</td>
    </tr>
    <tr>
      <th>92</th>
      <td>defense.totals.sp_assists_difference</td>
      <td>1.708407</td>
    </tr>
    <tr>
      <th>20</th>
      <td>passing.totals.throw_aways_difference</td>
      <td>-1.702599</td>
    </tr>
    <tr>
      <th>163</th>
      <td>misc_returns.totals.blk_fg_touchdowns_difference</td>
      <td>-1.689902</td>
    </tr>
    <tr>
      <th>140</th>
      <td>int_returns.totals.avg_yards_difference</td>
      <td>1.656329</td>
    </tr>
    <tr>
      <th>48</th>
      <td>summary.avg_gain_ratio</td>
      <td>-1.602662</td>
    </tr>
    <tr>
      <th>132</th>
      <td>fumbles.totals.lost_fumbles_difference</td>
      <td>1.591071</td>
    </tr>
    <tr>
      <th>50</th>
      <td>summary.lost_fumbles_difference</td>
      <td>1.591071</td>
    </tr>
    <tr>
      <th>86</th>
      <td>defense.totals.missed_tackles_difference</td>
      <td>1.574939</td>
    </tr>
    <tr>
      <th>119</th>
      <td>field_goals.totals.avg_yards_difference</td>
      <td>-1.547754</td>
    </tr>
    <tr>
      <th>43</th>
      <td>receiving.totals.targets_difference</td>
      <td>-1.531550</td>
    </tr>
    <tr>
      <th>129</th>
      <td>fumbles.totals.ez_rec_tds_difference</td>
      <td>1.516074</td>
    </tr>
    <tr>
      <th>14</th>
      <td>passing.totals.poor_throws_difference</td>
      <td>-1.506780</td>
    </tr>
    <tr>
      <th>84</th>
      <td>defense.totals.misc_fumble_recoveries_difference</td>
      <td>1.494413</td>
    </tr>
    <tr>
      <th>2</th>
      <td>passing.totals.avg_yards_ratio</td>
      <td>1.490550</td>
    </tr>
    <tr>
      <th>192</th>
      <td>touchdowns.kick_return_difference</td>
      <td>-1.454815</td>
    </tr>
    <tr>
      <th>150</th>
      <td>kick_returns.totals.touchdowns_difference</td>
      <td>-1.454815</td>
    </tr>
    <tr>
      <th>28</th>
      <td>rushing.totals.redzone_attempts_difference</td>
      <td>1.454688</td>
    </tr>
    <tr>
      <th>96</th>
      <td>defense.totals.sp_tackles_difference</td>
      <td>1.405669</td>
    </tr>
    <tr>
      <th>133</th>
      <td>fumbles.totals.opp_rec_difference</td>
      <td>-1.398511</td>
    </tr>
    <tr>
      <th>117</th>
      <td>extra_points.kicks.totals.pct_difference</td>
      <td>1.390738</td>
    </tr>
    <tr>
      <th>27</th>
      <td>rushing.totals.longest_difference</td>
      <td>-1.366746</td>
    </tr>
    <tr>
      <th>71</th>
      <td>efficiency.thirddown.successes_difference</td>
      <td>1.355443</td>
    </tr>
    <tr>
      <th>55</th>
      <td>summary.return_yards_difference</td>
      <td>1.307330</td>
    </tr>
    <tr>
      <th>83</th>
      <td>defense.totals.misc_forced_fumbles_difference</td>
      <td>1.290877</td>
    </tr>
    <tr>
      <th>148</th>
      <td>kick_returns.totals.faircatches_difference</td>
      <td>1.281067</td>
    </tr>
    <tr>
      <th>38</th>
      <td>receiving.totals.catchable_passes_difference</td>
      <td>-1.269553</td>
    </tr>
    <tr>
      <th>130</th>
      <td>fumbles.totals.forced_fumbles_difference</td>
      <td>-1.257892</td>
    </tr>
    <tr>
      <th>162</th>
      <td>kickoffs.totals.yards_difference</td>
      <td>1.253537</td>
    </tr>
    <tr>
      <th>15</th>
      <td>passing.totals.rating_ratio</td>
      <td>-1.224599</td>
    </tr>
    <tr>
      <th>82</th>
      <td>defense.totals.misc_assists_difference</td>
      <td>1.217516</td>
    </tr>
    <tr>
      <th>188</th>
      <td>punts.totals.touchbacks_difference</td>
      <td>-1.214365</td>
    </tr>
    <tr>
      <th>111</th>
      <td>extra_points.conversions.totals.pass_successes_difference</td>
      <td>-1.212889</td>
    </tr>
    <tr>
      <th>136</th>
      <td>fumbles.totals.out_of_bounds_difference</td>
      <td>-1.196671</td>
    </tr>
    <tr>
      <th>177</th>
      <td>punt_returns.totals.yards_difference</td>
      <td>1.191175</td>
    </tr>
    <tr>
      <th>91</th>
      <td>defense.totals.safeties_difference</td>
      <td>-1.189146</td>
    </tr>
    <tr>
      <th>94</th>
      <td>defense.totals.sp_forced_fumbles_difference</td>
      <td>-1.181041</td>
    </tr>
    <tr>
      <th>57</th>
      <td>summary.safeties_difference</td>
      <td>-1.180270</td>
    </tr>
    <tr>
      <th>190</th>
      <td>touchdowns.fumble_return_difference</td>
      <td>-1.139990</td>
    </tr>
    <tr>
      <th>123</th>
      <td>field_goals.totals.pct_ratio</td>
      <td>1.138571</td>
    </tr>
    <tr>
      <th>47</th>
      <td>receiving.totals.yards_after_contact_difference</td>
      <td>1.108913</td>
    </tr>
    <tr>
      <th>21</th>
      <td>passing.totals.touchdowns_difference</td>
      <td>-1.084042</td>
    </tr>
    <tr>
      <th>194</th>
      <td>touchdowns.pass_difference</td>
      <td>-1.084042</td>
    </tr>
    <tr>
      <th>44</th>
      <td>receiving.totals.touchdowns_difference</td>
      <td>-1.084042</td>
    </tr>
    <tr>
      <th>81</th>
      <td>defense.totals.knockdowns_difference</td>
      <td>-1.067466</td>
    </tr>
    <tr>
      <th>120</th>
      <td>field_goals.totals.blocked_difference</td>
      <td>1.060576</td>
    </tr>
    <tr>
      <th>107</th>
      <td>advanced.tackle_for_loss_rate_difference</td>
      <td>-1.028317</td>
    </tr>
    <tr>
      <th>0</th>
      <td>passing.totals.air_yards_difference</td>
      <td>0.985037</td>
    </tr>
    <tr>
      <th>85</th>
      <td>defense.totals.misc_tackles_difference</td>
      <td>-0.974719</td>
    </tr>
    <tr>
      <th>196</th>
      <td>touchdowns.rush_difference</td>
      <td>-0.964947</td>
    </tr>
    <tr>
      <th>32</th>
      <td>rushing.totals.touchdowns_difference</td>
      <td>-0.964947</td>
    </tr>
    <tr>
      <th>66</th>
      <td>efficiency.redzone.attempts_difference</td>
      <td>0.962180</td>
    </tr>
    <tr>
      <th>187</th>
      <td>punts.totals.return_yards_difference</td>
      <td>0.948689</td>
    </tr>
    <tr>
      <th>62</th>
      <td>efficiency.fourthdown.successes_difference</td>
      <td>-0.933804</td>
    </tr>
    <tr>
      <th>134</th>
      <td>fumbles.totals.opp_rec_tds_difference</td>
      <td>-0.925021</td>
    </tr>
    <tr>
      <th>77</th>
      <td>defense.totals.forced_fumbles_difference</td>
      <td>-0.911002</td>
    </tr>
    <tr>
      <th>25</th>
      <td>rushing.totals.broken_tackles_difference</td>
      <td>-0.893971</td>
    </tr>
    <tr>
      <th>193</th>
      <td>touchdowns.other_difference</td>
      <td>0.877275</td>
    </tr>
    <tr>
      <th>99</th>
      <td>defense.totals.tloss_yards_difference</td>
      <td>0.875983</td>
    </tr>
    <tr>
      <th>135</th>
      <td>fumbles.totals.opp_rec_yards_difference</td>
      <td>0.873107</td>
    </tr>
    <tr>
      <th>137</th>
      <td>fumbles.totals.own_rec_difference</td>
      <td>0.867425</td>
    </tr>
    <tr>
      <th>151</th>
      <td>kick_returns.totals.yards_difference</td>
      <td>0.860721</td>
    </tr>
    <tr>
      <th>159</th>
      <td>kickoffs.totals.squib_kicks_difference</td>
      <td>-0.837833</td>
    </tr>
    <tr>
      <th>98</th>
      <td>defense.totals.tloss_difference</td>
      <td>-0.837461</td>
    </tr>
    <tr>
      <th>30</th>
      <td>rushing.totals.tlost_difference</td>
      <td>-0.830807</td>
    </tr>
    <tr>
      <th>5</th>
      <td>passing.totals.completions_difference</td>
      <td>-0.810013</td>
    </tr>
    <tr>
      <th>41</th>
      <td>receiving.totals.receptions_difference</td>
      <td>-0.810013</td>
    </tr>
    <tr>
      <th>164</th>
      <td>misc_returns.totals.blk_punt_touchdowns_difference</td>
      <td>0.794846</td>
    </tr>
    <tr>
      <th>143</th>
      <td>int_returns.totals.yards_difference</td>
      <td>0.794823</td>
    </tr>
    <tr>
      <th>145</th>
      <td>interceptions.return_yards_difference</td>
      <td>0.794823</td>
    </tr>
    <tr>
      <th>168</th>
      <td>misc_returns.totals.touchdowns_difference</td>
      <td>0.790063</td>
    </tr>
    <tr>
      <th>18</th>
      <td>passing.totals.sacks_difference</td>
      <td>-0.788690</td>
    </tr>
    <tr>
      <th>36</th>
      <td>receiving.totals.avg_yards_ratio</td>
      <td>0.779334</td>
    </tr>
    <tr>
      <th>124</th>
      <td>field_goals.totals.yards_difference</td>
      <td>0.760138</td>
    </tr>
    <tr>
      <th>3</th>
      <td>passing.totals.blitzes_difference</td>
      <td>0.752699</td>
    </tr>
    <tr>
      <th>1</th>
      <td>passing.totals.attempts_difference</td>
      <td>-0.749955</td>
    </tr>
    <tr>
      <th>185</th>
      <td>punts.totals.longest_difference</td>
      <td>0.747879</td>
    </tr>
    <tr>
      <th>153</th>
      <td>kickoffs.totals.inside_20_difference</td>
      <td>-0.746119</td>
    </tr>
    <tr>
      <th>31</th>
      <td>rushing.totals.tlost_yards_difference</td>
      <td>-0.715917</td>
    </tr>
    <tr>
      <th>37</th>
      <td>receiving.totals.broken_tackles_difference</td>
      <td>-0.696946</td>
    </tr>
    <tr>
      <th>152</th>
      <td>kickoffs.totals.endzone_difference</td>
      <td>0.693203</td>
    </tr>
    <tr>
      <th>90</th>
      <td>defense.totals.sacks_difference</td>
      <td>-0.690298</td>
    </tr>
    <tr>
      <th>64</th>
      <td>efficiency.goaltogo.pct_ratio</td>
      <td>0.656364</td>
    </tr>
    <tr>
      <th>112</th>
      <td>extra_points.conversions.totals.rush_attempts_difference</td>
      <td>-0.651173</td>
    </tr>
    <tr>
      <th>35</th>
      <td>receiving.totals.air_yards_difference</td>
      <td>0.645041</td>
    </tr>
    <tr>
      <th>158</th>
      <td>kickoffs.totals.return_yards_difference</td>
      <td>-0.624488</td>
    </tr>
    <tr>
      <th>67</th>
      <td>efficiency.redzone.pct_ratio</td>
      <td>0.596715</td>
    </tr>
    <tr>
      <th>147</th>
      <td>kick_returns.totals.avg_yards_difference</td>
      <td>0.588492</td>
    </tr>
    <tr>
      <th>191</th>
      <td>touchdowns.int_return_difference</td>
      <td>-0.582900</td>
    </tr>
    <tr>
      <th>142</th>
      <td>int_returns.totals.touchdowns_difference</td>
      <td>-0.582900</td>
    </tr>
    <tr>
      <th>109</th>
      <td>extra_points.conversions.totals.defense_successes_difference</td>
      <td>-0.557411</td>
    </tr>
    <tr>
      <th>138</th>
      <td>fumbles.totals.own_rec_tds_difference</td>
      <td>-0.544614</td>
    </tr>
    <tr>
      <th>87</th>
      <td>defense.totals.passes_defended_difference</td>
      <td>0.491173</td>
    </tr>
    <tr>
      <th>149</th>
      <td>kick_returns.totals.number_difference</td>
      <td>0.486151</td>
    </tr>
    <tr>
      <th>181</th>
      <td>punts.totals.avg_yards_ratio</td>
      <td>0.449939</td>
    </tr>
    <tr>
      <th>40</th>
      <td>receiving.totals.longest_difference</td>
      <td>0.434467</td>
    </tr>
    <tr>
      <th>189</th>
      <td>punts.totals.yards_difference</td>
      <td>0.433732</td>
    </tr>
    <tr>
      <th>186</th>
      <td>punts.totals.net_yards_difference</td>
      <td>0.406253</td>
    </tr>
    <tr>
      <th>118</th>
      <td>field_goals.totals.attempts_difference</td>
      <td>0.405926</td>
    </tr>
    <tr>
      <th>128</th>
      <td>first_downs.total_difference</td>
      <td>0.402527</td>
    </tr>
    <tr>
      <th>49</th>
      <td>summary.fumbles_difference</td>
      <td>0.393038</td>
    </tr>
    <tr>
      <th>105</th>
      <td>advanced.qb_hit_rate_difference</td>
      <td>0.391679</td>
    </tr>
    <tr>
      <th>72</th>
      <td>defense.totals.assists_difference</td>
      <td>0.387130</td>
    </tr>
    <tr>
      <th>53</th>
      <td>summary.play_count_difference</td>
      <td>0.372618</td>
    </tr>
    <tr>
      <th>184</th>
      <td>punts.totals.inside_20_difference</td>
      <td>-0.365545</td>
    </tr>
    <tr>
      <th>65</th>
      <td>efficiency.goaltogo.successes_difference</td>
      <td>0.339939</td>
    </tr>
    <tr>
      <th>102</th>
      <td>advanced.drop_rate_difference</td>
      <td>-0.319663</td>
    </tr>
    <tr>
      <th>95</th>
      <td>defense.totals.sp_fumble_recoveries_difference</td>
      <td>-0.235082</td>
    </tr>
    <tr>
      <th>139</th>
      <td>fumbles.totals.own_rec_yards_difference</td>
      <td>-0.215256</td>
    </tr>
    <tr>
      <th>39</th>
      <td>receiving.totals.dropped_passes_difference</td>
      <td>0.199240</td>
    </tr>
    <tr>
      <th>7</th>
      <td>passing.totals.dropped_passes_difference</td>
      <td>0.199240</td>
    </tr>
    <tr>
      <th>78</th>
      <td>defense.totals.fumble_recoveries_difference</td>
      <td>-0.180666</td>
    </tr>
    <tr>
      <th>24</th>
      <td>rushing.totals.avg_yards_ratio</td>
      <td>0.170460</td>
    </tr>
    <tr>
      <th>4</th>
      <td>passing.totals.cmp_pct_ratio</td>
      <td>-0.164648</td>
    </tr>
    <tr>
      <th>122</th>
      <td>field_goals.totals.net_attempts_difference</td>
      <td>0.151878</td>
    </tr>
    <tr>
      <th>103</th>
      <td>advanced.offensive_line_rating_difference</td>
      <td>-0.135510</td>
    </tr>
    <tr>
      <th>70</th>
      <td>efficiency.thirddown.pct_ratio</td>
      <td>0.115611</td>
    </tr>
    <tr>
      <th>73</th>
      <td>defense.totals.blitzes_difference</td>
      <td>-0.110647</td>
    </tr>
    <tr>
      <th>174</th>
      <td>punt_returns.totals.longest_difference</td>
      <td>-0.093146</td>
    </tr>
    <tr>
      <th>11</th>
      <td>passing.totals.longest_difference</td>
      <td>0.059861</td>
    </tr>
    <tr>
      <th>131</th>
      <td>fumbles.totals.fumbles_difference</td>
      <td>0.056708</td>
    </tr>
    <tr>
      <th>54</th>
      <td>summary.possession_time_difference</td>
      <td>0.043940</td>
    </tr>
    <tr>
      <th>16</th>
      <td>passing.totals.redzone_attempts_difference</td>
      <td>-0.038828</td>
    </tr>
    <tr>
      <th>180</th>
      <td>punts.totals.avg_net_yards_ratio</td>
      <td>-0.031950</td>
    </tr>
    <tr>
      <th>165</th>
      <td>misc_returns.totals.ez_rec_touchdowns_difference</td>
      <td>0.000000</td>
    </tr>
  </tbody>
</table>
            </div>
            