
            <div class="container mx-auto mt-5 bg-white p-8 rounded-lg shadow-md">
                <h2 class="text-2xl font-bold mb-4 text-gray-800">Feature Coefficients</h2>
                <table class="dataframe custom-table">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Feature</th>
      <th>Coefficient</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>15</th>
      <td>defense.totals.interceptions_difference</td>
      <td>-11.803451</td>
    </tr>
    <tr>
      <th>0</th>
      <td>passing.totals.attempts_difference</td>
      <td>11.058152</td>
    </tr>
    <tr>
      <th>12</th>
      <td>efficiency.redzone.successes_difference</td>
      <td>-9.890411</td>
    </tr>
    <tr>
      <th>1</th>
      <td>passing.totals.completions_difference</td>
      <td>-9.673609</td>
    </tr>
    <tr>
      <th>30</th>
      <td>punts.totals.yards_difference</td>
      <td>9.669442</td>
    </tr>
    <tr>
      <th>19</th>
      <td>defense.totals.tloss_yards_difference</td>
      <td>-9.471579</td>
    </tr>
    <tr>
      <th>11</th>
      <td>summary.turnovers_difference</td>
      <td>8.395268</td>
    </tr>
    <tr>
      <th>25</th>
      <td>first_downs.pass_difference</td>
      <td>-7.680759</td>
    </tr>
    <tr>
      <th>18</th>
      <td>defense.totals.tackles_difference</td>
      <td>6.926396</td>
    </tr>
    <tr>
      <th>6</th>
      <td>rushing.totals.avg_yards_ratio</td>
      <td>-6.607582</td>
    </tr>
    <tr>
      <th>29</th>
      <td>punt_returns.totals.longest_difference</td>
      <td>-6.562641</td>
    </tr>
    <tr>
      <th>26</th>
      <td>fumbles.totals.opp_rec_difference</td>
      <td>-5.492946</td>
    </tr>
    <tr>
      <th>22</th>
      <td>extra_points.conversions.totals.pass_successes_difference</td>
      <td>4.510330</td>
    </tr>
    <tr>
      <th>14</th>
      <td>defense.totals.hurries_difference</td>
      <td>-4.263812</td>
    </tr>
    <tr>
      <th>28</th>
      <td>misc_returns.totals.blk_fg_touchdowns_difference</td>
      <td>-4.087468</td>
    </tr>
    <tr>
      <th>3</th>
      <td>passing.totals.longest_difference</td>
      <td>-4.057420</td>
    </tr>
    <tr>
      <th>27</th>
      <td>interceptions.number_difference</td>
      <td>3.785839</td>
    </tr>
    <tr>
      <th>17</th>
      <td>defense.totals.sp_blocks_difference</td>
      <td>-3.590801</td>
    </tr>
    <tr>
      <th>4</th>
      <td>passing.totals.poor_throws_difference</td>
      <td>-3.555713</td>
    </tr>
    <tr>
      <th>5</th>
      <td>rushing.totals.attempts_difference</td>
      <td>-3.100449</td>
    </tr>
    <tr>
      <th>16</th>
      <td>defense.totals.safeties_difference</td>
      <td>-2.001891</td>
    </tr>
    <tr>
      <th>9</th>
      <td>summary.fumbles_difference</td>
      <td>1.790563</td>
    </tr>
    <tr>
      <th>10</th>
      <td>summary.possession_time_difference</td>
      <td>-1.586020</td>
    </tr>
    <tr>
      <th>2</th>
      <td>passing.totals.dropped_passes_difference</td>
      <td>-1.386332</td>
    </tr>
    <tr>
      <th>24</th>
      <td>field_goals.totals.net_attempts_difference</td>
      <td>-1.108046</td>
    </tr>
    <tr>
      <th>21</th>
      <td>advanced.tackle_for_loss_rate_difference</td>
      <td>-0.303350</td>
    </tr>
    <tr>
      <th>13</th>
      <td>defense.totals.def_comps_difference</td>
      <td>-0.263485</td>
    </tr>
    <tr>
      <th>20</th>
      <td>advanced.air_to_total_yards_rate_difference</td>
      <td>0.214043</td>
    </tr>
    <tr>
      <th>7</th>
      <td>receiving.totals.dropped_passes_difference</td>
      <td>-0.009356</td>
    </tr>
    <tr>
      <th>23</th>
      <td>field_goals.totals.attempts_difference</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>8</th>
      <td>receiving.totals.targets_difference</td>
      <td>-0.000000</td>
    </tr>
  </tbody>
</table>
            </div>
            