<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Tailwind CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Top Secret Modeling</title>   

  </head>
  <body>  
    {% include 'header.html' %}

    <section class="hero bg-gray-800 text-white py-16 container mx-auto text-center">
      <h2 class="text-4xl font-bold mb-4">Welcome to Top Secret Modeling</h2>
      <p class="text-xl mb-8">Get insights, generate analysis, and explore football data at your fingertips</p>
      <div class="hero-buttons flex flex-col items-center space-y-4">
        <!-- First row with two same-sized buttons -->
        <div class="flex justify-center space-x-4">
            <a href="{{ url_for('columns') }}" class="bg-white text-gray-800 py-2 px-4 rounded-full font-semibold hover:bg-gray-200 w-300px text-center">Select Stats for Model</a>
            <form action="/generate_analysis" method="POST">
              
              <div id="loading-spinner" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; background-color: rgba(0, 0, 0, 0.5); padding: 20px; border-radius: 10px; width: 300px;">
                <div class="loader" style="margin: 0 auto 10px auto;"></div>
                <p style="color: white; font-size: 16px;">Generating analysis. This process can take some time. Please do not close or refresh the page.</p>
              </div>
            
              <button type="submit" class="bg-white text-gray-800 py-2 px-4 rounded-full font-semibold hover:bg-gray-200 w-300px" onclick="handleFormSubmission(event);">Re-generate for Active Stats</button>
            
            </form>
        </div>
        <!-- Second row with the red simulator button centered -->
        <a href="{{ url_for('simulator_input') }}" class="bg-red-500 text-white py-3 px-5 rounded-full font-semibold hover:bg-red-600 w-200px">Simulator</a>
      </div>       
    </section>  

    <main class="container mx-auto mt-5 bg-white p-8 rounded-lg shadow-md">
      <div class="mb-8">
        <h5 class="font-bold mb-2">Active Constants:</h5>
        <div class="bg-white p-4 rounded-md shadow-md max-h-40 overflow-y-auto">
            {% if active_constants %}
                <ul>
                    {% for category, constants in active_constants.items() %}
                        <li class="mb-2">
                            <span class="font-bold">{{ category.replace('_', ' ').title() }}:</span>
                            <span>
                              {% for constant in constants %}
                                  {% set processed_constant = ' '.join(constant.split('.')[1:]) %}
                                  {% set processed_constant = processed_constant.replace('totals ', '') %}
                                  {% set processed_constant = processed_constant.replace('_difference', '') %}
                                  {% set processed_constant = processed_constant.replace('_ratio', '') %}
                                  {% set processed_constant = processed_constant.replace('_', ' ').title() %}
                                  {{ processed_constant }}{% if not loop.last %}, {% endif %}
                              {% endfor %}
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>None</p>
            {% endif %}
        </div>      
      </div>

    
      <section class="mb-10">
        <h2 class="text-2xl font-bold mb-4">About Us</h2>
        <p>Your go-to platform for data-driven insights and competitive analysis in the world of NFL. From casual fans to serious analysts, we have something for everyone.</p>
      </section>      

      <section class="mt-12">
        <h2 class="text-2xl font-bold mb-4">Features</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
          <div class="text-center">
            <div class="text-blue-500 text-6xl mb-4">
              <i class="bi bi-graph-up"></i>
            </div>
            <h4 class="text-xl font-bold mb-2">Comprehensive Database</h4>
            <p>Over 100 stat categories to tailor your analysis and generate power rankings.</p>
          </div>
          <div class="text-center">
            <div class="text-blue-500 text-6xl mb-4">
              <i class="bi bi-speedometer2"></i>
            </div>
            <h4 class="text-xl font-bold mb-2">Simulation and Analysis</h4>
            <p>Run thousands of simulations to predict potential outcomes and strategies.</p>
          </div>
          <div class="text-center">
            <div class="text-blue-500 text-6xl mb-4">
              <i class="bi bi-people-fill"></i>
            </div>
            <h4 class="text-xl font-bold mb-2">Community and Engagement</h4>
            <p>COMING SOON!</p>
          </div>
        </div>
      </section>
    </main>

    <script src="{{ url_for('static', filename='home.js') }}"></script>

    {% include 'footer.html' %}
    
  </body>
</html>
