
            <div class="container">
                <div class="stats-card">
                    <h2>Key Metrics</h2>
                    <p>Total Bets: <strong>31</strong></p>
                    <p>Overall Accuracy: <strong>38.71%</strong></p>
                    <p>Average EV Percent: <strong>-0.04%</strong></p>
                    <p>Total Actual Value: <strong>$-1000.00</strong></p>
                </div>
                <div class="stats-card">
                    <h2>Overall Record</h2>
                    <table border="1" class="dataframe table">
  <thead>
    <tr style="text-align: right;">
      <th>Bet Outcome</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>win</td>
      <td>12</td>
    </tr>
    <tr>
      <td>loss</td>
      <td>20</td>
    </tr>
    <tr>
      <td>push</td>
      <td>0</td>
    </tr>
    <tr>
      <td>win pct</td>
      <td>37.50%</td>
    </tr>
  </tbody>
</table>
                </div>
                <div class="stats-card">
                    <h2>Positive EV Record</h2>
                    <table border="1" class="dataframe table">
  <thead>
    <tr style="text-align: right;">
      <th>Bet Outcome</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>win</td>
      <td>0</td>
    </tr>
    <tr>
      <td>loss</td>
      <td>6</td>
    </tr>
    <tr>
      <td>push</td>
      <td>0</td>
    </tr>
    <tr>
      <td>win pct</td>
      <td>0.00%</td>
    </tr>
  </tbody>
</table>
                </div>
                <div class="stats-card">
                    <h2>Negative EV Record</h2>
                    <table border="1" class="dataframe table">
  <thead>
    <tr style="text-align: right;">
      <th>Bet Outcome</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>win</td>
      <td>12</td>
    </tr>
    <tr>
      <td>loss</td>
      <td>14</td>
    </tr>
    <tr>
      <td>push</td>
      <td>0</td>
    </tr>
    <tr>
      <td>win pct</td>
      <td>46.15%</td>
    </tr>
  </tbody>
</table>
                </div>
            </div>
        