
            <div class="container">
                <div class="stats-card">
                    <h2>Key Metrics</h2>
                    <p>Total Bets: <strong>5</strong></p>
                    <p>Overall Accuracy: <strong>40.00%</strong></p>
                    <p>Average EV Percent: <strong>-1.49%</strong></p>
                    <p>Total Actual Value: <strong>$-130.00</strong></p>
                </div>
                <div class="stats-card">
                    <h2>Overall Record</h2>
                    <table border="1" class="dataframe table">
  <thead>
    <tr style="text-align: right;">
      <th>Bet Outcome</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>loss</td>
      <td>3</td>
    </tr>
    <tr>
      <td>win</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
                </div>
                <div class="stats-card">
                    <h2>Positive EV Record</h2>
                    <table border="1" class="dataframe table">
  <thead>
    <tr style="text-align: right;">
      <th>Bet Outcome</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>loss</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
                </div>
                <div class="stats-card">
                    <h2>Negative EV Record</h2>
                    <table border="1" class="dataframe table">
  <thead>
    <tr style="text-align: right;">
      <th>Bet Outcome</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>win</td>
      <td>2</td>
    </tr>
    <tr>
      <td>loss</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
                </div>
            </div>
        