
            <div class="container">
                <div class="stats-card">
                    <h2>Key Metrics</h2>
                    <p>Total Bets: <strong>1008</strong></p>
                    <p>Overall Accuracy: <strong>50.60%</strong></p>
                    <p>Average EV Percent: <strong>1.13%</strong></p>
                    <p>Total Actual Value: <strong>$-3400.00</strong></p>
                </div>
                <div class="stats-card">
                    <h2>Overall Record</h2>
                    <table border="1" class="dataframe table">
  <thead>
    <tr style="text-align: right;">
      <th>Bet Outcome</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>win</td>
      <td>527</td>
    </tr>
    <tr>
      <td>loss</td>
      <td>510</td>
    </tr>
    <tr>
      <td>push</td>
      <td>3</td>
    </tr>
    <tr>
      <td>win pct</td>
      <td>50.82%</td>
    </tr>
  </tbody>
</table>
                </div>
                <div class="stats-card">
                    <h2>Positive EV Record</h2>
                    <table border="1" class="dataframe table">
  <thead>
    <tr style="text-align: right;">
      <th>Bet Outcome</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>win</td>
      <td>179</td>
    </tr>
    <tr>
      <td>loss</td>
      <td>168</td>
    </tr>
    <tr>
      <td>push</td>
      <td>0</td>
    </tr>
    <tr>
      <td>win pct</td>
      <td>51.59%</td>
    </tr>
  </tbody>
</table>
                </div>
                <div class="stats-card">
                    <h2>Negative EV Record</h2>
                    <table border="1" class="dataframe table">
  <thead>
    <tr style="text-align: right;">
      <th>Bet Outcome</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>win</td>
      <td>348</td>
    </tr>
    <tr>
      <td>loss</td>
      <td>342</td>
    </tr>
    <tr>
      <td>push</td>
      <td>3</td>
    </tr>
    <tr>
      <td>win pct</td>
      <td>50.43%</td>
    </tr>
  </tbody>
</table>
                </div>
            </div>
        