*.DS_Store*
*.csv
.gitignore
classes/__pycache__/*
classes/api*
data/blind_test_data.csv
data/csvs/odds.csv
data/game_schedule.json
data/jsons/*
flask_app/__pycache__/*
flask_app/static/descriptive_statistics.csv
flask_app/static/power_ranks.csv
flask_app/templates/*results_game*
flask_app/templates/consolidated_model_report.html
flask_app/templates/data_quality_report.html
flask_app/templates/descriptive_statistics.html
flask_app/templates/feature_coef_report.html
flask_app/templates/future_betting_recommendations.html
flask_app/templates/historical_results_backtesting.html
flask_app/templates/interactive_heatmap.html
flask_app/templates/normalized_power_ranks.html
flask_app/templates/shap*
flask_app/templates/simulation_distribution.html
flask_app/templates/summary_dash.html
flask_app/templates/trending_dash.html
models/data_scaler.pkl
models/trained_nfl_model.pkl
scripts/__pycache__/*
scripts/*data*
scripts/*db*
venv/*
*.log*
