blinker
certifi
charset-normalizer
click
cloudpickle
contourpy
cycler
dnspython
flash
Flask
fonttools
idna
itsdangerous
Jinja2
joblib
kaleido
kiwisolver
llvmlite
MarkupSafe
matplotlib
mpld3
numba
numpy
packaging
pandas
Pillow
plotly
pymongo
pyparsing
python-dateutil
pytz
PyYAML
requests
scikit-learn
scipy
seaborn
shap
six
slicer
tenacity
threadpoolctl
tqdm
tzdata
urllib3
Werkzeug
