body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.team-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.team-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.teams {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.csv-content {
    max-height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    border: none;
    background-color: #f8f9fa;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab-button:hover {
    background-color: #e2e6ea;
}

.tab-button.active {
    background-color: #d1d5db;
}

.download-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.download-btn:hover {
    background-color: #45a049;
}

.scrollable-table {
    overflow-x: auto;
}

.csv-content thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

.content-card {
    width: 90%;
    max-width: 1200px;
    min-height: 400px;
    margin: 0 auto;
}

.heatmap-card {
    min-height: 2000px;
}

.w-300px {
    width: 300px;
}

.w-200px {
    width: 200px;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.stats-card {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stats-card h2 {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.stats-card table {
    width: 100%;
    border-collapse: collapse;
}

.stats-card table,
.stats-card th,
.stats-card td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

.stats-card tr:nth-child(even) {
    background-color: #f2f2f2;
}

.stats-card th {
    background-color: #4CAF50;
    color: white;
}

.image-container {
    text-align: center;
    margin: 20px 0;
}

.hidden {
    display: none;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.custom-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.5rem;
    /* Adjust spacing as needed */
}

.custom-table th,
.custom-table td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    /* Adjust padding as needed */
    text-align: left;
}

.custom-table th {
    background-color: #f8f9fa;
    /* Adjust header background color as needed */
    color: #333;
}

.custom-table tbody tr:hover {
    background-color: #f1f1f1;
    /* Adjust hover background color as needed */
}